.box{
    margin: 10px;
    border: 2px solid tomato;
    /* padding: 5px; */
    border-radius: 20px;
}

.visited-container{
    background-color: bisque;
}
.non-visited-container{
    background-color: aquamarine;
}